<section>
    <div class="container">
        <div class="row">
            <div class="pageContainer">
                <div class="d-flex justify-content-between">
                    <div>
                        <h1 class="titleH1">PRICE STREAM</h1>
                    </div>
                    <div class="d-flex justify-content-between">
                        <mat-form-field class="searchBx1 me-2" appearance="outline">
                            <mat-label>Search </mat-label>
                            <input matInput (keyup)="applyPriceFilter($event)">
                        </mat-form-field>
                        <ng-multiselect-dropdown class="txtClr customWidth" [placeholder]="clinetText"
                            [settings]="dropdownSettings" [data]="clientDropdownList" [(ngModel)]="clientSelectedItems"
                            (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                        </ng-multiselect-dropdown> &nbsp;&nbsp;
                        <ng-multiselect-dropdown class="txtClr customWidth" [placeholder]="channelText"
                            [settings]="dropdownSettings" [data]="channelDropdownList"
                            [(ngModel)]="channelSelectedItems" (onSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)">
                        </ng-multiselect-dropdown> &nbsp;&nbsp;
                        <div class="example-button-row">
                            <button mat-flat-button>Search</button>
                        </div>
                    </div>
                </div>
                <div class="defaultTable">
                    <mat-table [dataSource]="priceStreamDataSource" matSort #outboundChannelSort="matSort">
                        <ng-container *ngFor="let column of priceStreamColumns" [matColumnDef]="column.columnDef"
                            [ngSwitch]="column.columnDef">

                            <ng-container *ngSwitchCase="'action'">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> {{column.header}}
                                </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let element">
                                    <button class="toggleMenuIcon" mat-button>
                                        <mat-icon>border_color</mat-icon>
                                    </button>
                                    <button class="toggleMenuIcon" mat-button>
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <ng-container *ngSwitchDefault>
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> {{column.header}}
                                </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let element">
                                    {{column.cell(element)}}
                                </mat-cell>
                            </ng-container>

                        </ng-container>
                        <mat-header-row mat-header-row
                            *matHeaderRowDef="displayedOutboundChannelColumns; sticky: true"></mat-header-row>
                        <mat-row mat-row *matRowDef="let row; columns: displayedOutboundChannelColumns;"></mat-row>
                    </mat-table>
                    <!-- <mat-paginator #outboundChannelPaginator="matPaginator" class="reportPaginator" [pageSize]="pageSize"
                        [pageSizeOptions]="[5, 10, 20, 50, 100]"></mat-paginator> -->
                </div>
            </div>
        </div>
    </div>
</section>