<section>
    <div class="container">
        <div class="row">
            <div class="pageContainer">
                <div class="d-flex justify-content-between">
                    <div>
                        <h1 class="titleH1"><a href="/algo-master">ALGO MASTER</a><span> | {{action |
                                uppercase}} ALGO MASTER</span></h1>
                    </div>
                </div>
                <div class="formSection">
                    <form class="formControl" [formGroup]="algoMasterForm" (ngSubmit)="submit()">
                        <div class="formContainer center">
                            <div class="formColWrapper2">
                                <div class="formCol">
                                    <mat-form-field class="searchBox" appearance="outline">
                                        <mat-label>Algo Name</mat-label>
                                        <input matInput placeholder="Placeholder" formControlName="AlgoMasterName">
                                        <mat-error>{{ errorMsg.ALGO_NAME }}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="formColWrapper2">
                                <div class="formCol">
                                    <mat-form-field class="searchBox" appearance="outline">
                                        <mat-label>Algo</mat-label>
                                        <input matInput placeholder="Placeholder" formControlName="Algo">
                                        <mat-error>{{ errorMsg.ALGO }}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            
                            <div class="formColWrapper2">
                                <div class="formCol alignedLeft">
                                    <mat-slide-toggle formControlName="IsActive">Is Active</mat-slide-toggle>
                                </div>
                            </div>
                            <div class="formColWrapper2 alignRight">
                                <div class="buttonWrapper">
                                    <button mat-raised-button class="cancelBtn" type="button"
                                        (click)="cancel()">Cancel</button>
                                    <button mat-raised-button class="primaryBtn"
                                        type="submit">{{action=='UPDATE'?action:'SAVE'}}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>